@page "/"
@using RazorClassLibrary1
@inject ExampleJsInterop  LocationService

<h1>Hello, world!</h1>
   Latitute @loc?.Latitude

    Longitude @loc?.Longitude

    Accuracy @loc?.Accuracy
<a href="javascript:alert('test');">test</a>
    @code
{
        Location loc;
        protected override async Task OnAfterRenderAsync(bool firstrender)
        {
            if (firstrender)
            {
                loc = await LocationService.GetLocationAsync();
                StateHasChanged();

            }
        }
    }

